/*全局*/

body {
    color: rgba(0, 0, 0, .8);
}

img {
    width: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
}

a {
    color: inherit
}

a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

p,
div {
    line-height: 2rem;
}

h3 {
    font-weight: 500;
}

h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    margin-bottom: .5rem;
}

ol li,
ul li,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.column.col-45,
.column.col-35 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.col-45 {
    width: 22%;
}

.col-35 {
    width: 28%;
}

.nav {
    display: inherit;
}

.breadcrumb,
.nav,
.pagination,
.tab {
    margin: 0;
}


/*正文部分 container*/

.container-fundamentals {
    padding: 7rem 0 5rem;
    background-color: #f9f9f9;
}

.container-fundamentals .main-btn {
    color: #666;
    font-weight: 300;
    background: #ccc;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: .5rem;
    transition: opacity .2s;
    cursor: pointer;
    border: 1px solid #999;
    display: inline-block;
    width: 179px;
    text-align: center;
}

.container-fundamentals .main-btn:hover {
    /*cursor: pointer;*/
    cursor: default;
    /*background-color: #ddd;*/
    /*color: black;*/
}

.main-btn.absolute {
    position: absolute;
    text-decoration: line-through;
}

.main-btn.absolute:hover {
    opacity: 0
}

.fundamentals-subtitle {
    font-size: 16px;
    margin-bottom: 1rem;
}

.fundamentals-subtitle li {
    list-style-type: disc;
    margin-left: 2.5rem;
}

.img-7 {
    width: 7rem;
    position: absolute;
}

.img-right {
    margin-left: 8.5rem;
    display: inline-block;
}

.container-news {
    background: #5e6c7b;
    color: #fff;
    padding: 4rem 0;
}

.container-news h4 {
    color: #fff;
}


/*头部导航*/

.section-header {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    white-space: nowrap;
}

.section-header a,
.section-header mip-link {
    color: #fff;
}

.section-header .btn.btn-link {
    color: rgba(255, 255, 255, .8);
    flex-grow: 0;
}

.section-header .btn.btn-link:hover {
    color: rgb(255, 255, 255);
}

.section-header .navbar-title {
    flex: 0 0;
    min-width: 200px;
}

.section-header .navbar-links {
    flex: 1 0;
}

.section-header .navbar .navbar-brand {
    font-size: 2rem;
    position: relative;
    top: 2px;
}

.section-header .nav-icon,
.section-header .nav-icon::before,
.section-header .nav-icon::after {
    width: 24px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 1px;
}

.section-header .nav-icon:before,
.section-header .nav-icon::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
}

.section-header .nav-icon:before {
    transform: rotate(60deg);
}

.section-header .nav-icon:after {
    transform: rotate(-60deg);
}

.section-header .nav-more {
    flex: 1 0;
}

.section-header .nav-pc {
    display: flex;
    flex: 1 0;
    padding: .5rem 0;
}

.section-header .input-group-btn {
    background: transparent;
    border-color: rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .5);
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.section-header .form-input {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    border-color: rgba(255, 255, 255, .3);
}

.section-header .form-input:focus {
    border-color: #c4c9d3;
    color: #fff;
    box-shadow: none;
}

.section-header .input-wrap {
    flex: 0 0;
    min-width: 18.9rem;
}

.section-header .input-group-btn:hover,
.section-header .input-group-btn:active,
.section-header .input-group-btn:focus {
    color: rgba(255, 255, 255, 1);
}

.section-header .right {
    justify-content: flex-end;
    text-align: right;
}

.section-header #header-btn {
    border: none;
    background: none;
    padding: .3rem .2rem;
}

.section-header #header-btn .icon-bar {
    display: block;
    background: #fff;
    width: 1.8rem;
    height: 1px;
}

.section-header #header-btn .icon-bar + .icon-bar {
    margin-top: .6rem;
}

#news .news-time {
    color: #aaa;
    font-size: 1.2rem;
    line-height: 1rem;
}

#news .news-title {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: .5rem;
    -webkit-transition: color .2s;
    transition: color .2s;
}

#news .news-title:hover {
    color: #ddd;
}

.container-solutions {
    padding: 3rem 0;
}

.content-16-9 {
    height: 0;
    padding-bottom: 56%;
}

#container-tools {
    padding: 3rem 0;
    background: #f3f3f3;
}


/*正文补充部分 .more-wrapper*/

.more-wrapper {
    background: #eff2f5;
}


/*页脚部分 .footer-wrapper*/

.footer-wrapper {
    background: #333;
    color: #aaa;
    padding: 2rem 0;
}

.footer-wrapper .footer-link {
    display: block;
}

.footer-wrapper a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 840px) {
    .section-header .nav-icon {
        top: 0;
    }
    .section-header .navbar {
        transition: height .2s;
    }
    s .section-header .navbar .navbar-brand {
        top: 2px;
    }
    .section-header .btn.btn-link {
        text-align: left;
        line-height: 1;
    }
    .section-header .input-wrap {}
    .section-header .nav-more {
        width: 100%;
        flex: none;
    }
}
