/*全局*/
body {
    color: rgba(0,0,0,0.8);
}
img {
    width: 100%;
}

ul,
li {
    list-style: none;
    margin: 0;
}

a {
    color: inherit
}

a:hover,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

p,
div {
    line-height: 2rem;
}

h3 {
    font-weight: 500;
}

h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #a0781f;
    margin-bottom: 0.5rem;
}

.column.col-45,
.column.col-35 {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.col-45 {
    width: 22%;
}

.col-35 {
    width: 28%;
}


/*头部导航*/

.section-header {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
    background: #67521c;
    white-space: nowrap;
}

.section-header a {
    color: white;
}

.section-header .btn.btn-link {
    color: rgba(255, 255, 255, 0.8);
    flex-grow: 0;
}

.section-header .btn.btn-link:hover {
    color: rgb(255, 255, 255);
}

.section-header .navbar-title {
	flex: 0 0;
}
.section-header .navbar-links {
	flex: 1 0;
}
.section-header .navbar .navbar-brand {
    font-size: 2rem;
    position: relative;
    top: 2px;
}

.section-header .nav-icon,
.section-header .nav-icon::before,
.section-header .nav-icon::after {
    width: 24px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    top: 1px;
}

.section-header .nav-icon:before,
.section-header .nav-icon::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
}

.section-header .nav-icon:before {
    transform: rotate(60deg);
}

.section-header .nav-icon:after {
    transform: rotate(-60deg);
}
.section-header .nav-more {
	flex: 1 0;
}
.section-header .nav-pc {
	display: flex;
	flex: 1 0;
	padding: 0.5rem 0;
}

.section-header .input-group-btn {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    color: rgba(255,255,255,0.5);
    font-weight: 500;
    left: -4rem;
    position: relative;
    z-index: 2;
}
.section-header .form-input {
	background-color: rgba(255,255,255,0);
	color: white;
    padding-right: 4rem;
    border-color: rgba(255, 255, 255, 0.3);
}
.section-header .form-input:focus {
    border-color: #c4c9d3;
    color: white;
    box-shadow: none;
}
.section-header .input-wrap {
	flex: 0 0;
	min-width: 18.9rem;
}
.section-header .input-group-btn:hover,
.section-header .input-group-btn:active,
.section-header .input-group-btn:focus {
    color: rgba(255,255,255,1);
}

.section-header .right {
    justify-content: flex-end;
    text-align: right;
}

.section-header #header-btn {
    border: none;
    background: none;
    padding: 0.3rem 0.2rem;
}

.section-header #header-btn .icon-bar {
    display: block;
    background: white;
    width: 1.8rem;
    height: 1px;
}

.section-header #header-btn .icon-bar+.icon-bar {
    margin-top: 0.6rem;
}


/*正文部分 container*/
.container-fundamentals {
    padding: 7rem 0 5rem;
    background-color: #fbe7bc;
}

.container-fundamentals .main-btn {
    color: #ffffff;
    font-weight: 500;
    background: #ad8623;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    cursor: pointer;
}
.container-fundamentals  .main-btn:hover {
    cursor: pointer;
    background-color: #cda643;
}

.img-7 {
    width: 7rem;
    position: absolute;
}

.img-right {
    margin-left: 8.5rem;
    display: inline-block;
}
.container-news {
    background: #222;
    color: #ccc;
    padding: 4rem 0;
}
.container-news h4{
    color: #cda643;
}
#news .news-time {
    color: #999;
    font-size: 1.2rem;
    line-height: 1rem;
}
#news .news-title {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}
#news .news-title:hover {
    color: white;
}

#container-solutions{
    padding: 3rem 0;
}
.content-16-9 {
    height: 0;
    padding-bottom: 56%;
}
#container-tools{
    padding: 3rem 0;
    background: #f3f3f3;
}

/*正文补充部分 .more-wrapper*/

.more-wrapper {
    background: #eff2f5;
}


/*页脚部分 .footer-wrapper*/

.footer-wrapper {
    background: #333;
    color: #aaa;
    padding: 2rem 0;
}

.footer-wrapper .footer-link {
    display: block;
}

.footer-wrapper a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 840px) {
    .section-header .nav-icon{
        top: 0;
    }
    .section-header .navbar {
    	transition: height 0.2s;
    }s
    .section-header .navbar .navbar-brand {
    	top: 2px;
    }
    .section-header .btn.btn-link {
    	text-align: left;
    	line-height: 1;
	}
	.section-header .input-wrap {
		
	}
	.section-header .nav-more {
		width: 100%;
		flex: none;
	}
}
